/*--------------------------------------------------------------
1. Basic Color Variable - Aviva Ageless
----------------------------------------------------------------*/

$white: #ffffff;
$black: #bb274a;
$primary: #c5545e;
$secondary: #d07978;
$ternary: #e8c2b6;
$border: #bb274a;
$gray: #da9b94;
$hrcOlor: #d07978;
$cr_banner: #e8c2b6;
$accent: #bb274a;
$gray_sc: #c5545e;

:root {
    --body-font-family: "Kanit", sans-serif;
    --heading-font-family: "Inter Tight", sans-serif;

    --accent-color: #bb274a;
    --body-color: #f6eeec;
    --heading-color: #bb274a;
    --primary-color: #bb274a;
    --cr_banner-color: #e8c2b6;
    --border-color: #c5545e;
    --common-color-white: #ffffff;
    --common-color-black: #bb274a;
    --drak-color: #ffffff;
}

.dark {
    --drak-color: #c5545e;
    --cr_banner-color: #c5545e;
    --accent-color: #bb274a;
    --body-color: #f6eeec;
    --heading-color: #ffffff;
    --primary-color: #ffffff;
    --common-color-white: #bb274a;
    --common-color-black: #ffffff;
}
